body{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap{
  width: 640px;
  border: 1px solid red;
  position: relative;
}
.list{
  position: relative;
  width: 640px;
  height: 331px;

}

.item{
  position: absolute;
  width: 100%;
  height: 100%;;
}
.item img{
  height: 100%;
  width: 100%;
}
.list .item.active{
  z-index: 1;
}

.btn{
  width: 50px;
  height: 100px;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  cursor: pointer;
  border: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;

}
.btn:hover{
  background-color: rgba(0,0,0,0.8);
  color: rgba(255, 255, 255, 0.8)  
}

.btn.left{
  left: 0;
}
.btn.right{
  right: 0;
}